    /*--colours--*/
    /*--colour-navy: #0a192f;*/
    /*--colour-light-navy: #172a45;*/
    /*--colour-dark-grey: #333f58;*/
    /*--colour-slate: #8892b0;*/
    /*--colour-light-slate: #a8b2d1;*/
    /*--colour-lighter-slate: #ccd6f6;*/
    /*--colour-white: #e6f1ff;*/
    /*--colour-green: #64ffda;*/

#searchPane {
    -fx-background-color: #e6f1ff;
}

#summonerName {
    -fx-background-color: #e6f1ff;
    -fx-prompt-text-fill: #172a45;
    -fx-text-fill: #172a45;
    -fx-highlight-text-fill: #172a45;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #0a192f;
    -fx-border-style: solid;
}

#searchButton {
    -fx-background-color: #e6f1ff;
    -fx-text-fill: #172a45;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #0a192f;
    -fx-border-style: solid;
}

Button {
    -fx-background-color: #e6f1ff;
    -fx-text-fill: #172a45;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #0a192f;
    -fx-border-style: solid;
}

#region {
    -fx-background-color: #e6f1ff;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #0a192f;
    -fx-border-style: solid;
}

#region .list-cell {
    -fx-text-fill: #172a45;
    -fx-background-color: #e6f1ff;
}